apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-node-exporter
spec:
  interval: 10m
  chart:
    spec:
      chart: prometheus-node-exporter
      version: 4.47.3
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system