apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
spec:
  interval: 10m
  chart:
    spec:
      chart: prometheus
      version: 27.12.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system