apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
spec:
  interval: 10m
  chart:
    spec:
      chart: prometheus
      version: 27.12.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    prometheus-pushgateway:
      enabled: false
    alertmanager:
      enabled: false
    serverFiles:
      prometheus.yml:
        scrape_configs:
          - job_name: 'node-exporter'
            static_configs:
              - targets: ['node-exporter.monitoring.svc.cluster.local:9100']
          - job_name: 'kube-state-metrics'
            static_configs:
              - targets: ['kube-state-metrics.monitoring.svc.cluster.local:8080']
          - job_name: 'keycloak'
            metrics_path: '/metrics'
            static_configs:
              - targets: ['keycloak-metrics.apps.svc.cluster.local:9000']
