apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 10m
  chart:
    spec:
      chart: grafana
      version: 9.3.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  values:
    grafana.ini: {}  # disable default config to avoid conflicts
    env:
      - name: GF_PATHS_CONFIG
        value: /etc/grafana/custom/grafana.ini
    extraSecretMounts:
      - name: grafana-oauth-ini
        mountPath: /etc/grafana/custom/
        subPath: grafana.ini
        secretName: grafana-oauth-ini
        readOnly: true
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://prometheus-server
            isDefault: true

    