apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 10m
  chart:
    spec:
      chart: grafana
      version: 9.3.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  values:
    grafana.ini: {}
    extraSecretMounts:
    - name: grafana-oauth-ini
      mountPath: /etc/grafana/grafana.ini
      subPath: grafana.ini
      secretName: grafana-oauth-ini
      readOnly: true
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://prometheus-server
            isDefault: true
    