apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
spec:
  interval: 10m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 75.18.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    grafana:
      enabled: false
    serviceMonitor:
      enabled: true
    
