apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-redis-exporter
spec:
  interval: 10m
  chart:
    spec:
      chart: prometheus-redis-exporter
      version: 6.14.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    serviceMonitor:
      enabled: true
      interval: 30s
      labels:
        release: prometheus
    redisAddress: redis://redis-master.storage.svc.cluster.local:6379