apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./sshme-in/flux-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system